services:
  {{ customer_name }}-base:
    build:
      context: .
    restart: unless-stopped
    networks:
      - traefik_reverse_proxy
    volumes:
      - ..:/var/www
    entrypoint: ["/var/www/docker/entrypoint.sh"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ customer_name }}-base.rule=Host(`{{ subdomain_base }}.{{ domain }}`)"
      - "traefik.http.routers.{{ customer_name }}-base.entrypoints=websecure"
      - "traefik.http.routers.{{ customer_name }}-base.tls.certresolver=myresolver"
      - "traefik.http.services.{{ customer_name }}-base.loadbalancer.server.port=80"

networks:
  traefik_reverse_proxy:
    external: true
